
presentation/pres.log
presentation/pres.pdf
presentation/pres.synctex.gz
presentation/pres.log
paper/Seminarpaper.log
paper/Seminarpaper.log
paper/Seminarpaper.blg
paper/Seminarpaper.bbl
paper/Seminarpaper.aux
paper/Seminarpaper.synctex.gz
paper/Seminarpaper.log
assignment7.pdf
Assignment7.docx
